apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cv-devops
  name: cv-devops
  namespace: default
spec:
  replicas: 1 #CHANGE
  minReadySeconds: 45
  selector:
    matchLabels:
      app: cv-devops
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: cv-devops
    spec:
      containers:
      - name: cv-devops
        image: jamesmellors/cv-devops
        imagePullPolicy: IfNotPresent
        ports:
        - name: liveness-port
          containerPort: 8001
        resources: #CHANGE
          requests:
            cpu: 100m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1024Mi #256Mi 
        readinessProbe:
          httpGet:
            path: /
            port: liveness-port
          failureThreshold: 5
          periodSeconds: 10
          initialDelaySeconds: 60
        livenessProbe:
          httpGet:
            path: /
            port: liveness-port
          failureThreshold: 5
          periodSeconds: 10
          initialDelaySeconds: 60
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  labels: #PODS
    app: cv-devops
  name: cv-devops
  namespace: default
spec:
  type: ClusterIP
  ports:
  - port: 8001 #CHANGE
  selector:
    app: cv-devops
